
.main_box
{
    border:14px solid darkcyan;
    width:60%;
    padding:13rem 0;
    margin:0 auto;
    background: repeating-linear-gradient(
        45deg,
        #f1a430bd,
        #b31e1eaf 10px,
        rgba(238, 31, 31, 0.795) 10px,
        rgb(255, 43, 43) 20px,
        rgb(161, 1, 1) 20px
      );
      display: block;
      max-width:800px;
      max-height:450px;
      box-sizing:border-box;
}

.top
{
    width:100%;
    height:132px;
}
.left
{
    width:100%;
    height:132px;
}
*
{
    margin:0;
    padding:0;
    box-sizing: content-box;
}

html
{
    min-height:100%;
}

body
{
   
    background-repeat: no-repeat;
    background: repeating-linear-gradient(
  45deg,
  #f1a430bd,
  #ac7e1aaf 8px,
  rgba(238, 131, 31, 0.795) 10px,
  rgb(255, 123, 0) 20px,
  rgb(194, 103, 19) 20px
);
}


.anim
{
    
    font-size: 8em;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    -moz-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    color:darkmagenta;
    width:40%;
    box-sizing: content-box;
    margin:0 auto;
}
.anim:hover
{
    
    -webkit-box-shadow: -62px 49px 300px 88px rgba(194,0,194,1);
    -moz-box-shadow: -62px 49px 300px 88px rgba(194,0,194,1);
    box-shadow: -62px 49px 300px 88px rgba(194,0,194,1);
    background:darkmagenta; 
    color:red;
    cursor:default;
    margin:0 auto;
}
.moon_0
{
    background-image: url(img/moon.png);
    background-size: 100%;
    padding:45px 0;
    width:100px;
    border-radius: 50%;
    margin:0 35%;
    display: block;
   
   
   
}


.main
{
    border:14px solid darkcyan;
    width:80%;
    height:100%;
    padding:5rem;
    margin:0 auto;
    background: repeating-linear-gradient(
        45deg,
        #f1a430bd,
        #b31e1eaf 10px,
        rgba(238, 31, 31, 0.795) 10px,
        rgb(255, 43, 43) 20px,
        rgb(161, 1, 1) 20px
      );
      display: block;
      max-width:800px;
    
      box-sizing:border-box;
      position: relative;
      

}

.top_0
{
  position:relative;
  background:orange;
  padding:7.2% 0;
  width:100%;
}

.left
{
  float:left;
  width:16%;
  padding:8rem 0;
  background:yellow;
  box-sizing:border-box;
}

.mid
{
  display:block;
  box-sizing:border-box;
  float:left;
  width:68%;
  height:16rem;
  background:white;
  
}
.top_mid
{
  display:block;
  width:100%;
  padding:15.4% 0;
  background:pink;
}



.bot_mid
{
	
    margin:0;
  display:inline-block;
  box-sizing:border-box;
  width:100%;
  padding:15.4% 0;
  overflow: hidden;
  background:purple;
   clear:both;
}
.right
{
  float:left;
  width:16%;
  padding:8rem 0;
  background:black;
  
}

.bot
{
  
  clear:both;
  background:orange;
  padding:7.2% 0;
  width:100%;
}

.text
{
    width:45%;
    display:block;
    position: relative;
    border:5px solid azure;
    background:azure;
    padding:40px;
    margin:0 auto;
    box-sizing:border-box;
  


}

.size
{
    width:63%;
    margin:0 auto;
}
.start
{
    position: relative;
    display: block;
    margin:0 auto;
    width:160px;
    padding:12px 0;
    outline: none;
}

.para
{
    font-size: 1rem;
    padding:5px;
}

.deszcz_1
{
  
    background-image: url(img/deszcz.png);
    background-size: 100%;
    padding:45px 0;
    width:100px;
    border-radius: 50%;
    margin:0 55.7%;
    position: absolute;
    left:-410px;
    bottom:1184px;
    display: block;
    visibility: visible;
    transition: all 1s ease-in;
   
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) 
{
    .anim
    {
    
    font-size: 6em;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    -moz-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    color:darkmagenta;
    width:40%;
    box-sizing: content-box;
    margin:0 auto;
    }


    
    .main_box
    {
        border:14px solid darkcyan;
        width:80%;
        padding:13rem 0;
        margin:0 auto;
        background: repeating-linear-gradient(
            45deg,
            #f1a430bd,
            #b31e1eaf 10px,
            rgba(238, 31, 31, 0.795) 10px,
            rgb(255, 43, 43) 20px,
            rgb(161, 1, 1) 20px
        );
        display: block;
        max-width:800px;
        max-height:450px;
        box-sizing:border-box;
    }


}


@media only screen and (max-width: 1200px) and (min-width: 800px) 
{
    .anim
    {
    
    font-size: 4.6em;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    -moz-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    color:darkmagenta;
    width:60%;
    box-sizing: content-box;
    margin:0 auto;
    }


}


@media only screen and (max-width: 800px) and (min-width: 600px) 
{
    .anim
    {
    letter-spacing: 5px;
    font-size: 4em;
    padding:20px 5px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    -moz-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    color:darkmagenta;
    width:60%;
    box-sizing: content-box;
    margin:0 auto;
    }


}


@media only screen and (max-width: 600px) and (min-width: 300px) 
{
    .anim
    {
    letter-spacing: 5px;
    font-weight:bolder;
    font-size: 2rem;
    padding:20px 1px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    -moz-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    color:darkmagenta;
    width:50%;
    box-sizing: content-box;
    margin:0 auto;
    }


}

@media only screen and (max-width: 300px)
{
    .anim
    {
    letter-spacing: 5px;
    font-weight:bolder;
    font-size: 2rem;
    padding:20px 1px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    -moz-box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    box-shadow: inset -55px 32px 88px 12px rgba(194,0,194,1);
    color:darkmagenta;
    width:50%;
    box-sizing: content-box;
    margin:0 auto;
    }






}